.Header {
    background-color: purple;
    text-align: center;
    border-radius: 10px;
    width: 80vw;
    margin: auto;
    padding: 5px;

    p {
        margin: 5px;
        padding: 5px;
        font-weight: bold;
    }
}

.dark {
    background-color: gray;
    color: silver;
    border-radius: 10px;

    a {
        color: gold;
    }
}

.light {
    background-color: pink;
    color: brown;
    border-radius: 10px;
    
    a {
        color: darkred;
    }
}

